.App {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  margin: 1em;
  padding: 1em;
}

.history {
  flex-basis: 0;
  height: calc(100vh - 9em);
  overflow: auto;
}

.deck {
    display: flex;
    flex-direction: column;
    flex: 1 1;
}
aside{
  display: block;
  color: black;
  height: 4em;
  line-height: 4em;
  padding: 0 2em;
}
h2, strong {
  font-weight: 700;
}
h2 {
  margin-bottom: .5em;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
aside {
    margin-right: 1em;
    width: 25%;
}